# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*~

# Python (para el validador)
__pycache__/
*.pyc
.venv/

# Node (futuro: marked.js si lo bajamos local)
node_modules/

# Build / despliegue (futuro)
.vercel/
